body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #121518;
  color: #ffffff;
  text-align: left;
  overflow: hidden;
}

h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500; 
  margin-top: 5%;
  font-style: normal;
  text-align: center;
  font-size: 8vw; /* Scales with screen size */
  text-shadow: #70bfff 0px 0 20px;
}

h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  margin-top: -4%;
  font-size: 4vw; /* Scales with screen size */
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Adjust for smaller screens */
  gap: 10px;
  margin: 20px auto;
}

.gallery img {
  max-width: 100%;
  height: auto;
  border: 1px solid rgb(0, 162, 255);
  box-shadow: #161616 0px 0 20px;
}

.frame {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

button {
  margin: 10px;
}

.custom-btn {
  width: 90%; /* Adjust for smaller screens */
  max-width: 530px;
  height: auto; /* Adjust height for mobile */
  padding: 15px;
  color: #fff;
  border-radius: 5px;
  font-size: 6vw; /* Scales with screen size */
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: #00c3ff 0px 0 20px;
  outline: none;
}

/* Button Hover */
.btn-1 {
  background: rgb(55, 180, 202);
  background: linear-gradient(0deg, rgb(65, 210, 247) 0%, rgb(57, 161, 247) 100%);
  border: none; 
}
.btn-1:hover {
  background: rgb(84, 215, 255);
  background: linear-gradient(0deg, rgb(24, 170, 255) 0%, rgba(2,126,251,1) 100%);
}

/* Footer */
.footer {
  font-size: 80%;
  width: 100%;
  text-align: center;
  background-color: #121518;
  color: rgba(255, 255, 255, 0.842);
  padding: 10px;
  position: fixed;
  bottom: 0;
}

.footer a {
  color: rgba(194, 241, 255, 0.842);
  text-decoration: dotted;
}

.footer a:hover {
  color: rgba(0, 195, 255, 0.842);
  text-decoration: dotted;
  font-size: 105%;
}

/* Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 5vw;
  }

  .custom-btn {
    font-size: 4vw;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 12vw;
  }

  h2 {
    font-size: 6vw;
  }

  .custom-btn {
    font-size: 5vw;
    padding: 8px;
  }

  .footer {
    font-size: 70%;
  }
}
