/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: THIN;
    scrollbar-color: #FFFFFF #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 3px solid #000000;
  }
  
  .header {
  padding: 1px;
  text-align: center;
  background: #ff0000;
  color: white;
  font-size: 8px;

  body {
    background-color: #000000;
  }
